<div>
    {{!-- nav bar --}}
    <nav class="grey darken-1 nav">
        <div class="nav-wrapper container">
            <img class="logo" src="/images/Focus4.png" alt="logo">

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a>Logged in as:</a>
                </li>
                <li>
                    <a>Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- search bar --}}
    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <form id="search-form">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div class="container main">
        {{!-- tabs --}}
        <div class="row">
            <ul class="tabs">
                <li class="tab col s4">
                    <a id="tab" class="active black-text" href="#test1">Gallery</a>
                </li>
                <li class="tab col s4">
                    <a class="black-text" href="#test2">Map</a>
                </li>
                <li class="tab col s4">
                    <a class="black-text" href="#test3">Log In</a>
                </li>
            </ul>
        </div>
        
        {{!-- main container --}}
        <div class="row">
            <div id="test1" class="col s12"> {{#> gallery this}} {{/ gallery}} </div>
            <div id="test2" class="col s12"> {{#> maps}} {{/ maps}} </div>
            <div id="test3" class="col s12"> {{#> login}} {{/ login}} </div>
        </div>
    </div>

    {{!-- footer --}}
    <footer class="page-footer grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                </div>
            </div>
        </div>
        {{!-- below div adds extened footer --}}
        <div class="footer-copyright"></div>
    </footer>
</div>

<script>

    $(document).ready(function () {
        $('.materialbox').materialbox();

    });
    // .tabs must be seperate. dont combine
    $(document).ready(function () {
        $('.tabs').tabs();
    });

    $("#search-form").submit(function(e) {
        e.preventDefault();
        var searchTerm = $("#search").val().trim();
        $.ajax({
            url: "/api/search/" + searchTerm,
            method: "get",
        }).then(function(photos) {
            $("#gallery-row").empty();
            photos.forEach(function(photo) {
                /**
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                        <img src="https://farm{{this.farm}}.staticflickr.com/{{this.server}}/{{this.id}}_{{this.secret}}_c.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>{{this.title}}</p>
                        </div>
                    </div>
                </div>
                **/
                var photoColEl = $("<div>").attr("class", "col s12 m6");
                var cardEl = $("<div>").attr("class", "card");
                var cardImageEl = $("<div>").attr("class", "card-image");
                var imgEl = $("<img>").attr("src", `https://farm${photo.farm}.staticflickr.com/${photo.server}/${photo.id}_${photo.secret}_c.jpg`);
                var button = $("<a>")
                    .attr("class", "btn-floating halfway-fab waves-effect waves-light red");
                var iconEl = $("<i>").attr("class", "material-icons").html("thumb_up");
                var cardContentEl = $("<div>").attr("class", "card-content");
                var titleEl = $("<p>").text(photo.title);

                cardContentEl.append(titleEl);
                
                button.append(iconEl);

                cardImageEl
                    .append(imgEl)
                    .append(button);

                cardEl
                    .append(cardImageEl)
                    .append(cardContentEl);

                photoColEl
                    .append(cardEl)
                
                console.log(photoColEl);
                $("#gallery-row").append(photoColEl);
            });
        });
    });

</script>


{{!-- not pulling logo and css from main --}}